body {
  margin: 0;
}

.top-container {
  background-color: green;
}

.middle-container {
  background-color: blue;
  height: 200px; 
  width: 200px;
}

.bottom-container {
  background-color: red;
  height: 200px;
  width: 200px;
}

h1 {
  margin: 0;
}
